body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
* {
	outline: 1px #ccc solid;
}
*/


#root{
	
}

body, #nav-bars, nav{
	display: flex;
}

body{
	flex-direction: column;
}

h1, h2, h3, p, li{
	color: white;
}

li{
	list-style-type: none;
}

#nav-bars{
	flex-direction: column;
	background-color: black;
	position: sticky;
	top: 0;
}

.top-nav-container{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}
#contact-nav{
	padding-left: 2vw;
}
nav a{
	padding-right: 2vw;
	color: white;
	text-decoration: none;
	font-weight: 800;
	font-size: 2vh;
}

a:hover, a:active{
	color:#f75d11;
	border-bottom: solid 2px;
}

nav a:last-child{
	padding-right: 0px;
}
#contact-nav a{
	padding-right:0.5vw;
}
#cart-nav, #browse-nav{
	padding-right: 2vw;
}

#home-logo{
	width:7.5vw;
	height:7.5vw;
	margin-left: 7.5vw;
}

#sunburst-title{
	display:inline-block;
	margin-left:1vw;

}

#browse-nav{
	justify-content: flex-end;
	align-items: flex-end;
}

#browse-nav a{
	padding-right: 7.5vw;
	height: 5vh;
	align-items: flex-end;
}

#browse-nav a:last-child{
	padding-right: 0vw;
}

#title-banner{
	height: 82.5vh;
	width: 99.1vw;
	overflow: hidden;
	background-image: url("./img/Title_Banner_CC.png");
	background-size: cover;
	background-repeat: no-repeat;
}


.browse-products{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-card{
	width: 15vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
	margin-top:1vh;
	margin-bottom: 1vh;
}

.product-card-pic{
	height: auto;
	width: 15vw;
}

.footer-block{
	display: inline-flex;
	flex-direct: row;
	justify-content: space-between;
}

.footer-section{
	display:inline-block;
	width: 29vw;
	height: 25vh;
	overflow: hidden;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-bottom: 10vh;
	margin-top: 15vh;
}

.featured-image{
	background-image: url("./img/coral.png");
	width: 25vw;
	height: 25vw;
	background-size: contain;
}

#product-details{
	display:flex;
	justify-content: center;
}

.center-content{
	text-align: center;
}

#product-info{
	padding-left: 5vw;
}

#add-to-cart{
	color: white;
	background-color: black;
	border: solid 1px white;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
}

#add-to-cart:hover{
	color: black;
	background-color: white;
	border: solid 1px black;
}